<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property>
        <name>candle.securities</name>
        <value>SVH1</value>
    </property>
    <property>
        <name>candle.date.from</name>
        <value>20110111</value>
    </property>
    <property>
        <name>candle.date.to</name>
        <value>20110112</value>
    </property>
    <property>
        <name>candle.num.reducers</name>
        <value>10</value>
    </property>
</configuration>
